
.social {
  position: fixed; /* Hacemos que la posici�n en pantalla sea fija para que siempre se muestre en pantalla*/
  left: 0; /* Establecemos la barra en la izquierda */
  top: -90px; /* Bajamos la barra 200px de arriba a abajo */
  z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga alg�n otro elemento como sliders, galer�as, etc */
  }
   
  
  .social ul {
  list-style: none;
  }
   
  .social ul li a {
  display: inline-block;
  color:#fff;
  background: #000;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition:all 500ms ease; /* Establecemos una transici�n a todas las propiedades */
  }
   
  .social ul li .icon-facebook {background:#ccc;} /* Establecemos los colores de cada red social, aprovechando su class */
  .social ul li .icon-instagram {background:#ccc;}
  .social ul li .icon-whatsapp {background:#ccc;}
  .social ul li .icon-youtube {background:#ccc;}
  
   
  .social ul li a:hover {
  background: rgb(13, 107, 99); /* Cambiamos el fondo cuando el usuario pase el mouse */
  padding: 10px 30px; /* Hacemos mas grande el espacio cuando el usuario pase el mouse */
  }